.container-details-recette {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-details {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .recipe-details h2 {
    font-size: 2em;
    color: #e27d60;
  }
  
  .recipe-details img {
    width: 100%;
    border-radius: 8px;
  }
  
  .recipe-details .recipe-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .recipe-details h3 {
    font-size: 1.5em;
  }
  
  .recipe-details p {
    line-height: 1.6;
  }

  .previous-button {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: #e27d60;
  }
  